{% extends "templates/base.html" %}
{% load static %}


{% block page_title %}
    {{ page_title }}
{% endblock %}


{% block static_css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}


{% block content %}
    <div class="main__header">
        <h1 class="main__title">{{ page_title }}</h1>
        {% include "include/tag.html" %}
    </div>
    <div class="card-list">
        {% for recipe in page_obj %}
            {% include "include/recipe_card.html" %}
        {% endfor %}
    </div>

    {% if page_obj.has_other_pages %}
        {% include "include/paginator.html" with items=page_obj paginator=paginator %}
    {% endif %}
{% endblock %}


{% block static_js %}
  <script src="{% static 'js/components/MainCards.js' %}"></script>
  <script src="{% static 'js/components/Purchases.js' %}"></script>
  <script src="{% static 'js/components/Favorites.js' %}"></script>
  <script src="{% static 'js/components/CardList.js' %}"></script>
  <script src="{% static 'js/components/Header.js' %}"></script>

  <script src="{% static 'js/config/config.js' %}"></script>

  <script src="{% static 'js/api/Api.js' %}"></script>

  <script src="{% static 'js/templates/indexAuth.js' %}"></script>
{% endblock %}
