{% extends "templates/base.html" %}
{% load static %}


{% block page_title %}
    Успешный сброс пароля
{% endblock %}

{% block static_css %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block content %}
  {% load user_filters %}
  {% if validlink %}
    <div class="main__header">
        <h1 class="main__title">Введите новый пароль</h1>
    </div>
    <div class="form-container">
      <form class="form" method="post">
        {% csrf_token %}
        <div class="form__group">
          <label class="form__label">Новый пароль</label>
          <div class="form__field-group">
            {{ form.new_password1|addclass:"form__input" }}
            <small id="id_password1-help" class="form-text text-muted">
              {{ form.new_password1.help_text|safe }}
            </small>
          </div>
        </div>
        <div class="form__group">
          <label class="form__label">Подтверждения пароля</label>
          <div class="form__field-group">
            {{ form.new_password2|addclass:"form__input" }}
            <small id="id_password2-help" class="form-text text-muted">
              {{ form.new_password2.help_text|safe }}
            </small>
          </div>
        </div>
        <div class="form__footer">
          <button type="submit" class="button button_style_blue">Назначить новый пароль</button>
        </div>
        {% for error in form.errors %}
          <div class="alert alert-danger" role="alert">
            {{ error }}
          </div>
        {% endfor %}
      </form>
    </div>
  {% else %}
    <div class="main__header">
        <h1 class="main__title">Ошибка</h1>
    </div>
    <div class="card-body">
      <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
    </div>
  {% endif %}

{% endblock %}