{% extends "templates/base.html" %}
{% load static %}


{% block page_title %}
    Изменение пароля
{% endblock %}

{% block static_css %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block content %}
    {% load user_filters %}
    <div class="main__header">
        <h1 class="main__title">Изменить пароль</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post" action="{% url 'password_change' %}">
            {% csrf_token %}
            <div class="form__group">
                <label class="form__label">Старый пароль</label>
                <div class="form__field-group">
                    {{ form.old_password|addclass:"form__input" }}
                </div>
            </div>
            <div class="form__group">
                <label class="form__label">Новый пароль</label>
                <div class="form__field-group">
                    {{ form.new_password1|addclass:"form__input" }}
                    <small id="id_password1-help" class="form-text text-muted">
                      {{ form.new_password1.help_text|safe }}
                    </small>
                </div>
            </div>
            <div class="form__group">
                <label class="form__label">Подтверждение нового пароля</label>
                <div class="form__field-group">
                    {{ form.new_password2|addclass:"form__input" }}
                    <small id="id_password2-help" class="form-text text-muted">
                      {{ form.new_password2.help_text|safe }}
                    </small>
                </div>
            </div>
            <div class="form__footer">
                <button type="submit" class="button button_style_blue">Изменить пароль</button>
            </div>
            {% for error in form.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </form>
    </div>
{% endblock %}
