{% load get_list_of_tags %}

<ul class="tags">
    {% for tag in tags %}
        <li class="tags__item">
            <a id="{{ tag.name }}" class="tags__checkbox tags__checkbox_style_{{ tag.color }}
                {% if tag.name in old_tags %}
                    tags__checkbox_active"
                    {% get_list_of_tags new_tag=tag.name old_tags=old_tags minus=True as new_tags%}
                {% else %}
                    "
                    {% get_list_of_tags new_tag=tag.name old_tags=old_tags as new_tags%}
                {% endif %}
                {% if author %}
                    href="{% url 'author_tag' tags=new_tags author=author %}">
                {% elif favorite_user %}
                    href="{% url 'favorite_user_tag' tags=new_tags favorite_user=favorite_user %}">
                {% else %}
                    href="{% url 'tag' tags=new_tags %}">
                {% endif %}
            </a>
            <span class="tags__label">{{ tag.name }}</span>
        </li>
    {% endfor %}
</ul>