{% extends "include/base.html" %}
{% load static %}


{% block page_title %}
    {{ page_title }}
{% endblock %}


{% block static_css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}


{% block content %}
    <div class="form-container">
        <h3 class="form__label">Для того чтобы воспользоваться данными функциями необходимо зарегистрироваться или войти в систему.</h3>
        <ul class="nav__items list">
            <li class="nav__item"><a href="{% url 'login' %}" class="nav__link link">Войти</a></li>
            <li class="nav__item"><a href="{% url 'reg' %}" class="nav__link link">Создать аккаунт</a></li>
        </ul>
    </div>
{% endblock %}
