{% extends "include/base.html" %}
{% load static %}

{% block page_title %}
    {{ page_title }}
{% endblock %}

{% block static_css %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}


{% block content %}
    <div class="main__header">
        <h1 class="main__title">Ссылка на восстановление пароля отправлена.</h1>
    </div>
    <div class="form-container">
        <h3 class="form__label">Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля.</h3>
    </div>
{% endblock %}